<% @faqs.each do |faq| %>
  <div class="row text-center">
    <div class="col-3">

    </div>
    <div class="col-4">
      <%= faq.question %>
    </div>
    <div class="col-2">
      <%= faq.answer %>
    </div>
  </div>
<% end %>
